
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplates.cshtml";
}


<div id="video" class="cyan-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-wrapper">
                    <h1 class="giant-heading">
                        realiable<br />
                        tenacious<br />
                        resourceful
                    </h1>
                    <p>Accepting means you allow yourself to give up, let us help you fight for what is yours. If you feel you can't argue your point let us do it on your behave.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-wrapper">
                    <div class="video" ></div>

                    <div class="video-container">
                        <iframe src="~/Content/mytemplates/img/news/The Most Persuasive Closing Argument EVER!.mp4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
</div><!-- #video -->

<div id="story" class="light-wrapper">
    <div class="container inner">
        <div class="row story">
            <div class="col-sm-6">
                <div class="col-wrapper">
                    <img class="bottom-marged" src="@Url.Content("~/Content/mytemplates/")img/gallery/78479965.jpg">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="col-wrapper">
                    <p><span class="up-caps">Y</span>ou may think that only you are a prisoner, but other people are also prisoners. You are in a small prison, but others are in the big prison outside. When will they be released? Think that you are a yogi and that you are pursuing your sadhana in this particular place and at this particular moment. Immediately you will experience great joy. If you change your understanding, you will be free in a minute. Dpuf ullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.</p>
                    <p>
                        ou may think that only you are a prisoner, but other people are also prisoners. You are in a small prison, but others are in the big prison outside. When will they be released? Think that you are a yogi and that you are pursuing your sadhana in this particular place and at this particular moment. Immediately you will experience great joy. If you change your understanding, you will be free in a minute. Dpuf ullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
</div><!-- #story -->

<div id="gallery" class="grid">
    <figure class="effect-bubba">
        <img src="@Url.Content("~/Content/mytemplates/")img/gallery/court-in-session-Custom.jpg" alt="img01">
        <figcaption>
            <h2>Great <span>Advice</span></h2>
            <p>Let us Help</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-bubba">
        <img src="@Url.Content("~/Content/mytemplates/")img/gallery/gettyimages-51970088.jpg" alt="img02">
        <figcaption>
            <h2>Justice <span>Served</span></h2>
            <p>Let us Help <br>We will help as best we can</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-bubba">
        <img src="@Url.Content("~/Content/mytemplates/")img/gallery/Lawyer-in-court.jpg" alt="img07">
        <figcaption>
            <h2>Dreamy <span>Results</span> <i>Now</i></h2>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-bubba">
        <img src="@Url.Content("~/Content/mytemplates/")img/gallery/tribunal-juge-coupable.jpg" alt="img04">
        <figcaption>
            <h2>Sensiable <span>Attorneys</span></h2>
            <p>Let us Help</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-bubba">
        <img src="@Url.Content("~/Content/mytemplates/")img/gallery/lawyer.jpg__800x600_q85_crop.jpg" alt="img14">
        <figcaption>
            <h2>Creative <span>Consultants</span></h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-comment"></span>
            <p>Let us Help</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-bubba">
        <img src="@Url.Content("~/Content/mytemplates/")img/gallery/Feb16.jpg" alt="img08">
        <figcaption>
            <h2>Good <span>Care</span></h2>
            <p>Let us Help</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div><!-- #gallery -->
